@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_3144425_kft6lj79dzg.woff2') format('woff2'),
       url('//at.alicdn.com/t/font_3144425_kft6lj79dzg.woff') format('woff'),
       url('//at.alicdn.com/t/font_3144425_kft6lj79dzg.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 返回箭头 */
.icon-arrow-left:before {
  content: "\e91a";
}

/* 筛选图标 */
.icon-filter:before {
  content: "\e6ac";
}

/* 养老保障图标 */
.icon-umbrella:before {
  content: "\e63b";
}

/* 保险产品图标 */
.icon-shield-heart:before {
  content: "\e87d";
}

/* 银行产品图标 */
.icon-bank:before {
  content: "\e76f";
}

/* 券商产品图标 */
.icon-briefcase:before {
  content: "\e6fd";
}

/* 小金保图标 */
.icon-piggy-bank:before {
  content: "\e60a";
}

/* 存工资图标 */
.icon-wallet:before {
  content: "\e63c";
}

/* 定期精选图标 */
.icon-calendar-check:before {
  content: "\e664";
}

/* 专区图标 */
.icon-house-heart:before {
  content: "\e68f";
}

/* 指数图标 */
.icon-chart:before {
  content: "\e61c";
}

/* 皇冠图标 */
.icon-crown:before {
  content: "\e620";
} 